version: '3.4'

services:
  frontend:
    build:
      context: .
      target: frontend-builder
    volumes:
      - ./frontend:/app
    command: "npx vite --mode testing --host 0.0.0.0"
  rest-geoip:
    build:
      context: .
      target: dev
    ports:
      - 1323:1323
    volumes:
      - .:/app
    env_file:
      # create this file
      - .env.compose.dev
    command: "air -c .air.compose.toml"
