{{define "head"}}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/3rdparty/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>GoIPInfo - {{.record.IP}}</title>

    {{if .record.IP}}
      <link rel="stylesheet" href="/static/3rdparty/leaflet-v1.6.0/leaflet.css"/>
      <script src="/static/3rdparty/leaflet-v1.6.0/leaflet.js"></script>
    {{end}}

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://github.com/TwistTheNeil/rest-geoip">About</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/web">My IP Address</a>
            </li>
          </ul>
          <form class="d-flex" action="/web" method="POST">
            <input class="form-control me-2" type="search" placeholder="IP Address" aria-label="ip-address" name="search-input">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
{{end}}
