{{define "head"}}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/3rdparty/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>GoIPInfo - {{.record.IP}}</title>

    {{if .record.IP}}
      <link rel="stylesheet" href="/static/3rdparty/leaflet-v1.6.0/leaflet.css"/>
      <script src="/static/3rdparty/leaflet-v1.6.0/leaflet.js"></script>
    {{end}}

  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/web">~</a>
      <form class="form-inline" action="/web" method="POST" novalidate>
        <input class="form-control mr-sm-2" type="search" placeholder="IP Address" aria-label="ip-address" name="search-input">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Get Info</button>
      </form>
    </nav>
{{end}}
