{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>GoIPInfo - {{template "ipaddress" .}}</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline" action="/web" method="POST" novalidate>
        <input class="form-control mr-sm-2" type="search" placeholder="IP Address" aria-label="ip-address" name="search-input">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Get Info</button>
      </form>
    </nav>

    {{template "main" .}}
  </body>
</html>
{{end}}