{{define "head"}}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.4.4.1.min.css">

    <title>GoIPInfo - {{.IP}}</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline" action="/web" method="POST" novalidate>
        <input class="form-control mr-sm-2" type="search" placeholder="IP Address" aria-label="ip-address" name="search-input">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Get Info</button>
      </form>
    </nav>
{{end}}
