{{define "ipAddressInfo"}}
{{template "head" .}}
<div class="container justify-content-center align-items-center">
  <div class="card">
    <div class="card-header">
      {{.record.IP}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <table class="table table-borderless table-hover table-sm">
          <tbody>
            <tr>
              <td>
                Country
              </td>
              <td>
                {{.record.Country.ISOCode}}
              </td>
            </tr>

            <tr>
              <td>
                EU
              </td>
              <td>
                {{if .record.Country.IsInEuropeanUnion}}
                  Yes
                {{else}}
                  No
                {{end}}
              </td>
            </tr>

            <tr>
              <td>
                City
              </td>
              <td>
                {{range $key, $value := .record.City.Names}}
                  {{$key}}:{{$value}}</br>
                {{end}}
              </td>
            </tr>

            <tr>
              <td>
                Latitude
              </td>
              <td>
                {{.record.Location.Latitude}}
              </td>
            </tr>

            <tr>
              <td>
                Longitude
              </td>
              <td>
                {{.record.Location.Longitude}}
              </td>
            </tr>

            <tr>
              <td>
                Time Zone
              </td>
              <td>
                {{.record.Location.TimeZone}}
              </td>
            </tr>

            <tr>
              <td>
                Approx. Zip Code
              </td>
              <td>
                {{.record.Postal.Code}}
              </td>
            </tr>

            <tr>
              <td>
                Anonymous Proxy
              </td>
              <td>
                {{.record.Traits.IsAnonymousProxy}}
              </td>
            </tr>

            <tr>
              <td>
                Satellite Provider
              </td>
              <td>
                {{.record.Traits.IsSatelliteProvider}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        {{if .mapbox_access_token}}
        <div class="col-lg-6">
          <div id="mapid" style="height: 500px"></div>
        </div>
        {{else}}
        <div class="col-lg-6">
          <div>
            <p>
              Map feature is not enabled
            </p>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</div>

<script>

  var coordinates = [{{.record.Location.Latitude}}, {{.record.Location.Longitude}}];
  var mymap = L.map('mapid').setView(coordinates, 8);
  showMap();

  function showMap() {
    renderMap(mymap, coordinates, {{.mapbox_access_token}});
  }

</script>
{{template "foot" .}}
{{end}}
